 html {
     font-size: 1vw;
 }

 body {
     margin     : 0;
     font-family: 'Comfortaa';
     height     : 100%;
 }

 .top-left {
     position        : fixed;
     z-index         : 1;
     box-sizing      : border-box;
     background-color: #edfdfd;
     margin-top      : 0%;
     display         : flex;
     font-size       : 4vh;
     padding-top     : 0.5em;
     padding-bottom  : 0.5em;
     width           : 100vw;
     justify-content : space-between;
 }

 .top-left .icon {
     display: none;
 }

 .icon {
     color          : black;
     font-weight    : bold;
     text-decoration: none;
 }

 .about {
     margin-right: 2rem;
     margin-left : -7%;
 }

 /* navbar ends css */


 /* grid */

 .text-with-image {
     padding: 6rem 0;
 }

 .grid-row {
     box-sizing           : border-box;
     display              : grid;
     grid-template-columns: minmax(0, 1fr) repeat(23, 8px minmax(0, 1fr));
     grid-template-rows   : 100px 200px;
 }

 .left-grid-col {
     display          : block;
     grid-column-start: 5;
     grid-column-end  : 18;
     height           : 45vh;
 }

 .right-grid-col {
     display          : block;
     grid-column-start: 18;
     grid-column-end  : 50;
 }


 .right-grid-image {
     box-sizing: border-box;
     display   : block;
     width     : 55%;
     position  : absolute;
     margin-top: -3%;
 }

 .text-item {
     font-size  : 18px;
     line-height: 31px;
     font-weight: 200;
 }

 .text1 {
     box-sizing      : border-box;
     padding         : 2%;
     padding-left    : 29%;
     background-color: #d4f2ff;
     line-height     : 31px;
     margin-top      : 4%;
 }




 /** Image container css */

 .image-container {
     box-sizing: border-box;
     margin-top: 10%;
 }

 .image2 {
     width      : 55%;
     margin-left: -9em;
     margin-top : 10%;
     box-shadow : 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
 }

 .image3 {
     width       : 55%;
     margin-right: 3em;
     right       : 0;
     height      : 60%;
     position    : absolute;
     box-shadow  : 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
 }

 .arrow {
     font-size : 20vh;
     color     : darkblue;
     margin-top: 10%;
     left      : 32%;
     float     : left;
     position  : relative;
 }

 .button1 {
     height                 : 2.5rem;
     width                  : 12rem;
     font-size              : 1rem;
     background             : #28bbbb;
     color                  : white;
     -webkit-text-decoration: none;
     text-decoration        : none;
     border-radius          : 17px;
     font-weight            : bold;
     cursor                 : pointer;
 }

 .about,
 .contact {
     color    : black;
     font-size: 3vh;
     cursor   : pointer;
 }

 .artikulate {
     color      : #397739;
     margin-left: 2%;
     cursor     : pointer;
 }

 .about:hover {
     color: #28bbbb;
 }

 .contact:hover {
     color: #28bbbb;
 }

 .artikulate:hover {
     color: #28bbbb;
 }

 .request-button {
     margin-left: 82%;
     padding    : 2em;
 }

 .button1:hover {
     opacity: 0.7;
 }

 /* -footer-- */

 .footer {
     position        : relative;
     width           : 99vw;
     height          : 19.2vh;
     background-color: rgb(70 136 127);
     color           : white;
     text-align      : center;
 }

 .footer-content {
     box-sizing: border-box;
     display   : grid;
 }

 .footer-column {
     display          : flex;
     grid-column-start: 29;
     grid-column-end  : 15;
 }

 /* footer icons css */
 .fa {
     padding        : 6%;
     height         : 2vh;
     width          : 5vw;
     text-align     : center;
     text-decoration: none;
     margin         : 6px 2px;
     border-radius  : 67%;
 }

 .fa:hover {
     opacity: 0.7;
 }

 .fa-facebook {
     background : #3B5998;
     color      : white;
     margin-left: 10em;
 }

 .fa-linkedin {
     background: #007bb5;
     color     : white;
 }

 .fa-twitter {
     background: #55ACEE;
     color     : white;
 }

 .icons {
     display    : flex;
     margin-left: 16em;
 }

 .logo {
     height: 2vh;
     width : 5vw;
 }

 .franchise {
     display    : inline-block;
     margin-left: 24%;
     cursor     : pointer;
 }

 .appops-logo h2 {
     margin-bottom: 0%;
 }

 .appops-logo {
     margin-top : -1%;
     margin-left: 82%;
     height     : 5vh;
 }

 .connect {
     margin-left  : 80%;
     padding-top  : 0.5em;
     margin-bottom: 0.5%;
 }

 /* end */


 /* Responsiveness for mobile*/
 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
     html {
         font-size: 1.3vw;
     }

     .container {
         width: 100%;
     }

     /* navbar  */
     .top-left .about {
         display: none;
     }

     .top-left .contact {
         display: none;
     }

     .top-left a.icon {
         float  : right;
         display: block;
     }

     .top-left.responsive {
         position: fixed;
     }

     .top-left.responsive .icon {
         position: absolute;
         right   : 2%;
         top     : 14%;
     }

     .top-left.responsive a {
         float     : none;
         display   : block;
         text-align: left;
     }

     .top-left.responsive {
         display   : block;
         width     : 100%;
         text-align: left;
     }

     .icon {
         font-size  : 37px;
         padding-top: 1%;
     }

     .top-left a.icon {
         justify-content: space-between;
         margin-right   : 5%;
         margin-top     : 2%;
     }

     .top-left:hover {
         color: white;
     }

     .about {
         margin-left: 2%;
         line-height: 190%;
         font-size  : 2.5vh;
     }

     .contact {
         margin-left: 2%;
         font-size  : 2.5vh;
     }

     /* navbar end */

     .button1 {
         height     : 5rem;
         width      : 22rem;
         font-size  : 1.7rem;
         margin-left: -2vh;
         font-weight: bold;
     }

     .grid-row {
         box-sizing    : border-box;
         display       : flex;
         flex-direction: column;
     }

     .text-item {
         font-size  : 1.7vh;
         line-height: 65px;
         font-weight: 200;
     }

     .text-with-image {
         margin-bottom: 28%;
         margin-left  : 9%;
     }

     .text1 {
         padding-left: 8%;
         line-height : 62px;
     }

     .system {
         margin-top : 10%;
         font-size  : 2.2em;
         line-height: 60px;
         font-weight: 200;
         font-weight: bold;
     }

     .right-grid-image {
         box-sizing: border-box;
         display   : block;
         width     : 70%;
         position  : absolute;
         margin-top: -10%;
     }

     .text-with-image {
         height     : 48vh;
         padding-top: 15%;
     }

     .image3 {
         height: 15%;
     }

     .arrow {
         font-size   : 8vh;
         color       : darkblue;
         /* top      : 123%; */
     }

     .image-container {
         margin-bottom: 7%;
     }

     .request-button {
         margin-left  : 40%;
         margin-bottom: 5%;
     }

     /* footer */
     .footer {
         height: 15rem;

     }

     .connect {
         margin-bottom: 3.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height    : 2vh;
         margin-top: 1%;
     }

     .logo {
         height: 1vh;
         width : 7vw;
     }

     .fa {
         height: 1vh;
     }

     .franchise {
         margin-left: 32%;
     }

     .icons {
         margin-left: 10em;
     }
 }






 /* Responsiveness for mobile*/
 @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
     html {
         font-size: 1.3vw;
     }

     .container {
         width: 100%;
     }

     /* navbar  */
     .top-left .about {
         display: none;
     }

     .top-left .contact {
         display: none;
     }

     .top-left a.icon {
         float  : right;
         display: block;
     }

     .top-left.responsive {
         position: fixed;
     }

     .top-left.responsive .icon {
         position: absolute;
         right   : 2%;
         top     : 14%;
     }

     .top-left.responsive a {
         float     : none;
         display   : block;
         text-align: left;
     }

     .top-left.responsive {
         display   : block;
         width     : 100%;
         text-align: left;
     }

     .icon {
         font-size  : 37px;
         padding-top: 1%;
     }

     .top-left a.icon {
         justify-content: space-between;
         margin-right   : 5%;
         margin-top     : 2%;
     }

     .top-left:hover {
         color: white;
     }

     .about {
         margin-left: 2%;
         line-height: 190%;
         font-size  : 2.5vh;
     }

     .contact {
         margin-left: 2%;
         font-size  : 2.5vh;
     }

     /* navbar end */

     .button1 {
         height     : 5rem;
         width      : 22rem;
         font-size  : 1.7rem;
         margin-left: -2vh;
         font-weight: bold;
     }

     .grid-row {
         box-sizing    : border-box;
         display       : flex;
         flex-direction: column;
     }

     .text-item {
         font-size  : 1.7vh;
         line-height: 65px;
         font-weight: 200;
     }

     .text-with-image {
         margin-bottom: 28%;
         margin-left  : 9%;
     }

     .text1 {
         padding-left: 8%;
         line-height : 62px;
     }

     .system {
         margin-top : 10%;
         font-size  : 2.2em;
         line-height: 60px;
         font-weight: 200;
         font-weight: bold;
     }

     .right-grid-image {
         box-sizing : border-box;
         display    : block;
         width      : 87%;
         position   : absolute;
         margin-top : -22%;
         margin-left: -12%;
     }

     .text-with-image {
         height     : 48vh;
         padding-top: 15%;
     }

     .image3 {
         height: 20%;
     }

     .arrow {
         font-size   : 8vh;
         color       : darkblue;
         /* top      : 123%; */
     }

     .image-container {
         margin-bottom: 7%;
     }

     .request-button {
         margin-left  : 40%;
         margin-bottom: 5%;
     }

     /* footer */
     .footer {
         height: 15rem;

     }

     .connect {
         margin-bottom: 3.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height    : 2vh;
         margin-top: 1%;
     }

     .logo {
         height: 1vh;
         width : 7vw;
     }

     .fa {
         height: 1vh;
     }

     .franchise {
         margin-left: 32%;
     }

     .icons {
         margin-left: 10em;
     }
 }


 /* Responsiveness for ipad portrait*/
 @media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: portrait) {
     html {
         font-size: 1.8vw;
     }

     .container {
         width: 100%;
     }

     .top-left .about {
         display: none;
     }

     .top-left .contact {
         display: none;
     }

     .top-left a.icon {
         float  : right;
         display: block;
     }

     .top-left.responsive {
         position: fixed;
     }

     .top-left.responsive .icon {
         position: absolute;
         right   : 2%;
         top     : 14%;
     }

     .top-left.responsive a {
         float     : none;
         display   : block;
         text-align: left;
     }

     .top-left.responsive {
         display   : block;
         width     : 100%;
         text-align: left;
     }

     .icon {
         font-size  : 37px;
         padding-top: 1%;
     }

     .top-left a.icon {
         justify-content: space-between;
         margin-right   : 5%;
         margin-top     : -1%;
     }

     .top-left:hover {
         color: white;
     }

     .about {
         margin-left: 2%;
         line-height: 190%;
         font-size  : 2.5vh;
     }

     .contact {
         margin-left: 2%;
         font-size  : 2.5vh;
     }

     /* navbar end */

     .button1 {
         height     : 3rem;
         width      : 15rem;
         margin-left: -3%;
         font-weight: bold;
     }

     .grid-row {
         box-sizing    : border-box;
         display       : flex;
         flex-direction: column;
     }

     .text-item {
         line-height: 45px;
         font-weight: 200;
         font-size  : 1.2rem;
     }

     .text-with-image {
         margin-bottom: 32%;
         margin-left  : 9%;
     }

     .text1 {
         padding-left: 19%;
         line-height : 45px;
         font-size   : 0.7rem;
     }

     .system {
         margin-top : 10%;
         font-size  : 1.7em;
         line-height: 60px;
         font-weight: 200;
         font-weight: bold;
     }

     .right-grid-image {
         box-sizing: border-box;
         display   : block;
         width     : 73%;
         position  : absolute;
         margin-top: 2%;
     }

     .text-with-image {
         height     : 48vh;
         padding-top: 7%;
     }

     .image2 {
         height     : 28vh;
         margin-left: -6em;
     }

     .image3 {
         height: 28vh;
     }

     .arrow {
         font-size   : 8vh;
         color       : darkblue;
         /* top      : 123%; */
     }

     .image-container {
         margin-bottom: 7%;
     }

     .request-button {
         margin-left  : 40%;
         margin-bottom: 5%;
     }

     /* footer */
     .footer {
         height: 27vh;
         width : 100vw;
     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -1%;
         margin-left: 80%;
     }


     .logo {
         height: 1.5vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 27%;
     }

     .icons {
         margin-left: 2em;
     }
 }

 /** Responsiveness for iPad (portrait and landscape)*/
 @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) {
     html {
         font-size: 1.6vw;
     }

     .container {
         width: 100%;
     }

     /* navbar end */


     .image-container {
         margin-left: 5%;
     }

     .left-grid-col {
         grid-column-start: 6;
         grid-column-end  : 21;
     }

     .right-grid-col {
         grid-column-start: 21;
         grid-column-end  : 24;
     }

     .button1 {
         height     : 3rem;
         width      : 15rem;
         margin-left: 52%;
         font-weight: bold;
     }

     .request-button {
         padding: 0em;
     }

     .text-item {
         line-height: 45px;
         font-weight: 200;
         font-size  : 1.5vw;
     }

     .text-with-image {
         margin-bottom: 32%;
         margin-left  : -2%;
         height       : 5vh;
     }

     .text1 {
         padding-left: 22%;
         line-height : 45px;
     }

     .system {
         margin-top : 10%;
         font-weight: 200;
         font-weight: bold;
     }

     .right-grid-image {
         box-sizing: border-box;
         display   : block;
         width     : 57%;
         position  : absolute;
         margin-top: 6%;
     }



     .image2 {
         width      : 54%;
         margin-left: -12em;
         margin-top : 12%;
     }

     .image3 {
         width : 53%;
         height: 40vh;
     }

     .arrow {
         color       : darkblue;
         /* top      : 123%; */
     }

     .image-container {
         margin-bottom: 7%;
     }

     .request-button {
         margin-left  : 40%;
         margin-bottom: 5%;
     }

     /* footer */
     .footer {
         height: 22vh;
         width : 100vw;

     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -2%;
         margin-left: 80%;
     }


     .logo {
         height: 2vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 29%;
     }

     .icons {
         margin-left: 5em;
     }
 }

 @media only screen and (min-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) {
     html {
         font-size: 1.3vw;
     }

     .top-left {
         width: 100vw;
     }

     .artikulate {
         margin-left: 6%;
     }

     .container {
         width: 100%;
     }

     .top-left {
         font-size: 2.5vh;
     }

     .about {
         font-size: 2.3vh;
     }

     .contact {
         font-size: 2.3vh;
     }

     .text-with-image {
         padding       : 7rem 0;
         padding-bottom: 5rem;
     }

     .left-grid-col {
         grid-column-end: 20;
     }

     .right-grid-col {
         grid-column-start: 20;
     }

     .right-grid-image {
         width      : 64%;
         margin-top : -3%;
         margin-left: -12%;
     }

     .text-item {
         font-size: 1.3rem;
     }

     .image-container {
         margin-left: 5%;
     }

     .image2 {
         width      : 59%;
         margin-left: -11em;
         margin-top : 10%;
     }

     .image3 {
         width       : 52%;
         margin-right: 5em;
         right       : 0;
         height      : 23%;
     }

     .arrow {
         font-size: 9vh;
         left     : 27%;
     }

     .button1 {
         margin-left: -60%;
         height     : 3rem;
         width      : 13rem;
     }

     .text1 {
         font-size   : 1rem;
         padding-left: 17%;
     }

     /* footer */
     .footer {
         height: 45.5vh;
         width : 100vw;
     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -1%;
         margin-left: 81%;
     }


     .logo {
         height: 1vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 31%
     }

     .icons {
         margin-left: 11em;
     }
 }


 @media only screen and (min-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) {
     html {
         font-size: 1.3vw;
     }

     .top-left {
         width: 105vw;
     }

     .container {
         width: 100%;
     }

     .text-with-image {
         height: 28vh;
     }

     .left-grid-col {
         grid-column-start: 5;
         grid-column-end  : 22;
     }

     .right-grid-col {
         grid-column-start: 21;
         grid-column-end  : 50;
     }

     .right-grid-image {
         width     : 55%;
         margin-top: -10%;
     }

     .text-item {
         font-size: 1.1rem;
     }

     .image-container {
         margin-left: 5%;
     }

     .button1 {
         margin-left: -32%;
         height     : 3rem;
         width      : 13rem;
     }

     .text1 {
         font-size   : 1rem;
         padding-left: 27%;
         width       : 105vw;
     }

     .image2 {
         width      : 59%;
         margin-left: -13em;
         margin-top : 17%;
     }

     .image3 {
         width       : 55%;
         margin-right: 3em;
         right       : 0;
         height      : 48%;
     }

     .arrow {
         left      : 28%;
         margin-top: 15%;
     }

     /* footer */
     .footer {
         height: 31vh;
         width : 105vw;
     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -1%;
         margin-left: 81%;
     }


     .logo {
         height: 2vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 34%;
     }

     .icons {
         margin-left: 11em;
     }
 }

 /* iPad Pro (10.5")  Landscape*/
 @media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) {
     html {
         font-size: 1.5vw;
     }

     .text-with-image {
         height: 44vh;
     }

     .text-item {
         font-size  : 1rem;
         line-height: 45px;
     }

     .image-container {
         margin-left: 5%;
     }

     .left-grid-col {
         grid-column-start: 4;
         grid-column-end  : 19;
     }

     .right-grid-col {
         grid-column-start: 19;
         grid-column-end  : 50;
     }

     .button1 {
         margin-left: -58%;
     }

     .text1 {
         font-size   : 1rem;
         line-height : 45px;
         padding-left: 24%;
     }

     .right-grid-image {
         width      : 63%;
         margin-top : 0%;
         margin-left: -4%;
     }

     .image2 {
         width      : 53%;
         margin-left: -15em;
         height     : 43vh;
     }

     .image3 {
         height: 42vh;
         width : 53%;
     }

     /* footer */
     .footer {
         height: 22vh;
         width : 100vw;

     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -2%;
         margin-left: 80%;
     }


     .logo {
         height: 2vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 31%;
     }

     .icons {
         margin-left: 5em;
     }
 }

 /* iPad Pro (10.5")  Portrait*/
 @media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) {
     html {
         font-size: 1.5vw;
     }

     .text-item {
         font-size  : 1.3rem;
         line-height: 45px;
     }

     .left-grid-col {
         grid-column-start: 5;
         grid-column-end  : 18;
     }

     .image-container {
         margin-left: 5%;
     }

     .button1 {
         margin-left: -66%;
         font-size  : 1.2rem;
         height     : 3rem;
         width      : 13rem;
     }

     .text1 {
         font-size   : 1.3rem;
         line-height : 45px;
         padding-left: 10%;
     }

     .right-grid-image {
         width      : 75%;
         margin-top : 4%;
         margin-left: -13%;
     }

     .text-with-image {
         height        : 43vh;
         padding       : 9rem 0;
         padding-bottom: 13%;
     }

     .image2 {
         height     : 26vh;
         width      : 55vw;
         margin-left: -14em;
     }

     .image3 {
         height: 26vh;
         width : 55vw;
     }

     .arrow {
         font-size: 12vh;
         left     : 26%;
     }

     /* footer */
     .footer {
         height: 13vh;
     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -1%;
         margin-left: 80%;
     }


     .logo {
         height: 1.5vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 31%;
     }

     .icons {
         margin-left: 5em;
     }
 }


 /* iPad Air Landscape*/
 @media only screen and (min-width: 1180px) and (max-device-width: 1180px) and (orientation: landscape) {
     html {
         font-size: 1.5vw;
     }

     .top-left {
         font-size: 1.8rem;
     }

     .about,
     .contact {
         font-size: 1.6rem;
     }

     .text-with-image {
         height: 44vh;
     }

     .left-grid-col {
         grid-column-start: 4;
         grid-column-end  : 19;
     }

     .right-grid-col {
         grid-column-start: 19;
         grid-column-end  : 50;
     }

     .text-item {
         font-size  : 1rem;
         line-height: 45px;
     }

     .image-container {
         margin-left: 5%;
     }

     .button1 {
         margin-left: -58%;
     }

     .text1 {
         font-size   : 1rem;
         line-height : 45px;
         padding-left: 24%;
     }

     .right-grid-image {
         width      : 63%;
         margin-top : 0%;
         margin-left: -4%;
     }

     .image2 {
         width      : 53%;
         margin-left: -12em;
         height     : 43vh;
     }

     .image3 {
         height: 42vh;
         width : 53%;
     }

     .arrow {
         left     : 32%;
         font-size: 17vh;
     }

     /* footer */
     .footer {
         height: 22vh;
         width : 100vw;

     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -2%;
         margin-left: 80%;
     }


     .logo {
         height: 2vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 31%;
     }

     .icons {
         margin-left: 6em;
     }
 }

 /* iPad Air  Portrait*/
 @media only screen and (min-device-width: 820px) and (max-device-width: 820px) and (orientation: portrait) {
     html {
         font-size: 1.5vw;
     }

     .top-left {
         font-size: 3vh;
     }

     .about,
     .contact {
         font-size: 2.5vh;
     }

     .text-with-image {
         height        : 34vh;
         padding       : 9rem 0;
         padding-bottom: 1%;
     }

     .text-item {
         font-size  : 1.3rem;
         line-height: 45px;
     }

     .left-grid-col {
         grid-column-start: 3;
         grid-column-end  : 18;
     }

     .image-container {
         margin-left: 5%;
     }

     .button1 {
         margin-bottom: -1vh;
         font-size    : 1.2rem;
         height       : 3rem;
         width        : 13rem;
         margin-left  : -76%;
     }

     .text1 {
         font-size   : 0.9rem;
         line-height : 45px;
         padding-left: 17%;
     }

     .right-grid-image {
         width      : 75%;
         margin-top : 4%;
         margin-left: -13%;
     }

     .image2 {
         height     : 26vh;
         width      : 55vw;
         margin-left: -14em;
     }

     .image3 {
         height: 26vh;
         width : 55vw;
     }

     .arrow {
         font-size: 11vh;
         left     : 26%;
     }

     /* footer */
     .footer {
         height: 35vh;
         width : 100vw;
     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -1%;
         margin-left: 80%;
     }


     .logo {
         height: 1.5vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 32%;
     }

     .icons {
         margin-left: 5em;
     }
 }


 @media only screen and (min-device-width: 1200px) and (max-device-width: 1200px) {
     html {
         font-size: 1.2vw;
     }

     .text-item {
         font-size  : 1rem;
         line-height: 45px;
     }

     .image-container {
         margin-left: 5%;
     }

     .button1 {
         margin-left: -3%;
     }

     .text1 {
         font-size   : 1rem;
         line-height : 45px;
         padding-left: 24%;
     }

     .right-grid-image {
         width      : 63%;
         margin-top : 0%;
         margin-left: -4%;
     }

     .text-with-image {
         height: 45vh;
     }

     .image2 {
         width      : 51%;
         margin-left: -14em;
         height     : 60vh;
     }


     .image3 {
         height: 60vh;
         width : 51%;
     }

     /* footer */
     .footer {
         height: 24vh;
         width : 99vw;

     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -2%;
         margin-left: 80%;
     }


     .logo {
         height: 2vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 33%;
     }

     .icons {
         margin-left: 13em;
     }
 }


 @media only screen and (min-device-width: 1600px) and (max-device-width: 1600px) {
     html {
         font-size: 1.2vw;
     }

     .text-item {
         font-size  : 1rem;
         line-height: 45px;
     }

     .image-container {
         margin-left: 5%;
     }

     .button1 {
         margin-left: -3%;
     }

     .text1 {
         font-size   : 1rem;
         line-height : 45px;
         padding-left: 24%;
     }

     .right-grid-image {
         width      : 63%;
         margin-top : 0%;
         margin-left: -4%;
     }

     .text-with-image {
         height: 45vh;
     }

     .image2 {
         width      : 51%;
         margin-left: -14em;
         height     : 60vh;
     }


     .image3 {
         height: 60vh;
         width : 51%;
     }

     /* footer */
     .footer {
         height: 24vh;
         width : 99vw;

     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -2%;
         margin-left: 80%;
     }


     .logo {
         height: 2vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 33%;
     }

     .icons {
         margin-left: 13em;
     }
 }

 /* for large desktop */
 @media only screen and (min-device-width: 1920px) {
     html {
         font-size: 1.2vw;
     }

     .text-item {
         font-size  : 1rem;
         line-height: 45px;
     }

     .image-container {
         margin-left: 5%;
     }

     .button1 {
         margin-left: -17%;
     }

     .text1 {
         font-size   : 1rem;
         line-height : 45px;
         padding-left: 24%;
     }

     .right-grid-image {
         width      : 51%;
         margin-top : -2%;
         margin-left: 4%;
     }

     .text-with-image {
         height: 43vh;
     }

     .image2 {
         width      : 51%;
         margin-left: -14em;
         height     : 60vh;
     }


     .image3 {
         height: 60vh;
         width : 51%;
     }

     /* footer */
     .footer {
         height: 24vh;
         width : 99vw;

     }

     .connect {
         margin-bottom: 1.5%;
     }

     .footer-column {
         grid-column-end: 4;
     }

     .appops-logo {
         height     : 3vh;
         margin-top : -2%;
         margin-left: 80%;
     }


     .logo {
         height: 2vh;
         width : 7vw;
     }

     .franchise {
         margin-left: 33%;
     }

     .icons {
         margin-left: 13em;
     }
 }